### Markdown basics
 **Bold**
 *italic*
 * ***IB***
 * Normal Text
     * Sub list1
     * Sub list2


1. order list element 1
2. ordered list element 2

- [] option 1
- [] option 2
- [x] option 3

I get 10 times more traffic from [Google] [1] than from
[Yahoo] [2] or [MSN] [3].

  [1]: http://google.com/        "Google"
  [2]: http://search.yahoo.com/  "Yahoo Search"
  [3]: http://search.msn.com/    "MSN Search"
  
  `printf("hello this is python")`
  
  <https:google.com>
  
  <markdown@gmail.com>


[jupyter logo](jupyter.png)

<img src="jupyter.png" style="float:left">

# Python Basics

python Version 3.7

- Scripting (line by line execution)
- Object oriented
- Functional

In [10]:
# python comment

print("Good Evening","!",end=" ") # basic output
print("hello python ")

Good Evening ! hello python

### Assignment

In [18]:
n1=123456 # single Variable Assignment

n2 = n3 = n4 = n1    # Multivariable Assignment of the same value

a,b,c = 123, 345,456  # Multivariable Assignment with different values

print(a,b,c)

123 345 456

### Data Types
 - int
 - float
 - string

In [43]:
type(a)

s1="python"

type(s1)

f1=12.345

type(f1)

int(f1)

str(int(f1))

float(str(int(f1)))

12.0

### Arithmetic Operations
- +
- -
- *
- /
- %
- **

In [32]:
n1 %11
n3 = n2 **1

type(n3)
 
len(str(n3))

n3

atoms= 10**82
len(str(atoms))

type(str(atoms))

str

### Condiotionals

In [51]:
if atoms < 10 ** 9:
    print("TRUE")
else:
    print("FALSE")

FALSE

In [52]:
#check if a number is even 

n = 123
if n % 2==0 :
    print("even")
else:
    print("odd")

odd

In [58]:
#find the greatest of 3 numbers

n1 = int(input("enter the first number: "))
n2 = int(input("enter the second number: "))
n3 = int(input("enter the third number: "))

if n1 > n2 and n1 > n3:
    print(n1, "is the greatest")
elif n2 > n3:
        print(n2,"is the greatest")
else:
    print(n3,"is the greatest")

enter the first number: -1
enter the second number: -50
enter the third number: -100
-1 is the greatest

In [60]:
#leap year
year= int(input("entr the year: "))
if (year%400==0) or (year%4==0 and year%100!=0):
    print(year,"is a leap year")
else:
    print("not a leap year")

entr the year: 2016
2016 is a leap year

In [61]:
#check if a number is exist in a given range
n1 = int(input("enter the number to check: "))
lb = int(input("enter the lower range: "))
ub = int(input("enter the upper range: "))
if lb <= n1 <=ub:
    print("the number is in the given range")
else:
    print("not in the range")

enter the number to check: 123
enter the lower range: 12
enter the upper range: 456
the number is in the given range

In [ ]:
# calculate the number of digits in a number
a = int(input("entr the number: "))
b=str(a)
c=len(b)
print(c)

In [ ]:
#check if a number is a multiple of 10
n=int(input("enter the number to check whether it is a multiple of 10: "))
if n%10==0:
    print("multiple of 10")
else:
    print("not a multiple of 10")

In [ ]:
#check if a number is factor of 1000
i=int(input("enter the number: "))
if 1000%i==0:
    print(i,"is a factor of 1000")
else:
    print("not a factor of 1000")

In [2]:
#check if string is equal to a number
st=input("enter the string")
num=int(input("entr the num"))
if str(num)==st:
    print("true")
else:
    print("false")

enter the string123
entr the num1234
false

In [ ]:
#calculate the square root of a number without functions
sqr=int(input("enter the number"))
root=sqr**0.5
print(root)

In [1]:
#calculate the number of nano seconds in a given year(considering leap year logic)
year=2016
if (year%400==0) or (year%4==0 and year%100!=0):
    print(366*24*60*60*(10**9))
else:
    print(365*24*60*60*(10**9))

31622400000000000